$area1: #730217;
$area2: #D15530;
$area3: #A37849;
$area4: #2594D9;
$area5: #E73C81;
$area6: #3E4D8C;
$area7: #F2CF53;
$box-shadow: 2px 2px black;
$header-font: 'Spirax', cursive;
$alt-font: 'Quattrocento', serif;
