#div-left-menu {
	height: 900px;
	width: 30%;
	border: 1px solid black;
	padding: 3px;
	word-wrap: break-word;
}

div.description {
	border: 1px solid black;
	display: none;

}

#theme-park {
	width: 70%;
	// border: 1px solid black;
}

.park {
	border: 1px solid black;
}
#footer {
  margin-left: 43%;
  margin-bottom: 10px;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}

#searchBox {
	width: 600px;
	margin-left: 200px;
	border-radius: 14px;
}

.show-time-dropdown {
  margin-left: 40%;
  margin-bottom: 25px;
}

#show-times {
  width: 300px;
}

.dropdown-menu {
  width: 300px;
  text-align: center;
  font-size: 20px;
}

.area {
	border: solid black 2px;
	height: 300px;
}

