#footer {
  margin-left: 43%;
  margin-bottom: 10px;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}

#searchBox {
	width: 600px;
	margin-left: 200px;
	border-radius: 14px;
}

.show-time-dropdown {
  margin-left: 38%;
}

#show-times {
  width: 300px;
}

.dropdown-menu {
  width: 300px;
  text-align: center;
  font-size: 20px;
}

.area {
	border: solid black 2px;
	height: 300px;
}

.hidden {
  display: none;
}
