#div-left-menu {
  width: 30%;
  border: 1px solid black;
  padding: 3px;
  word-wrap: break-word; }

div.description {
  border: 1px solid black;
  display: none; }

#theme-park {
  border: 1px solid black; }

.park {
  border: 1px solid black; }
