#area-1 {
  background-color: #730217; }

#area-2 {
  background-color: #D15530; }

#area-3 {
  background-color: #A37849; }

#area-4 {
  background-color: #2594D9; }

#area-5 {
  background-color: #E73C81; }

#area-6 {
  background-color: #3E4D8C; }

#area-7 {
  background-color: #F2CF53; }

#div-left-menu {
  height: 900px;
  width: 30%;
  border: 1px solid black;
  padding: 3px;
  word-wrap: break-word; }

div.description {
  border: 1px solid black;
  display: none; }

div.parkDescription {
  font-style: italic; }

#theme-park {
  width: 70%; }

#footer {
  margin-left: 43%;
  margin-bottom: 10px;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0; }

#searchBox {
  width: 600px;
  margin-left: 200px;
  border-radius: 14px; }

.show-time-dropdown {
  margin-left: 40%;
  margin-bottom: 25px; }

#show-times {
  width: 300px; }

.dropdown-menu {
  width: 300px;
  text-align: center;
  font-size: 20px; }

.area {
  border: solid black 2px;
  height: 300px;
  overflow: scroll; }

.blank {
  border: 0px; }
